/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

body {
  background: url('../images/Texture0204.jpg');
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 1;
}

h1 {
  font-family: "pastelRegular", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #8C8CFF;
}

#menu {
  margin-top: 60px;
  margin-left: 30%;
}

#body_content, #side_body_content {
  position: relative;
  padding: 20px;
  margin-bottom: 60px;
}

#body_content_left {
  width: auto;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li:hover > ul {
  display: block;
  z-index: 99999;
  position: absolute;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu ul li a:hover {
  border-top: 1px solid #AADF90;
  margin-top: -1px;
}

#menu ul li.selected a {
  background: #7ECE56;
  color: #fff;
  -webkit-box-shadow: inset 0 3px 0 #707070;
  -moz-box-shadow: inset 0 3px 0 #707070;
  box-shadow: inset 0 0 3px #707070;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#menu ul li.selected a:hover {
  margin-top: 0;
  border-top: 0;
}

#menu ul li ul {
  display: none;
}

#menu ul li ul li a, #menu ul li.selected ul li a {
  background: none;
  color: #707070;
  font-weight: none;
  border-top: 0;
  margin-top: 0;
  border-bottom: 1px solid #AADF90;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#menu ul li ul li a:hover {
  color: #4D882F;
}

.link-header {
  border-bottom: 3px solid #808080;
  width: 125px;
}

.no-style {
  list-style: none;
}

ul.footer-links a {
  text-decoration: none;
  font-size: 12px;
  color: #808080;
}

ul.footer-links a:hover {
  color: #59A5DB;
}