/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

body {
/*  background: url('../images/Texture0204.jpg');*/
  background: url('../images/gradient_larger.png') repeat-x;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

#body_content h1 {
  font-family: inherit;
  font-size: 40px;
  color: #003A69;
  border-bottom: 1px solid #404040;
/*  display: none;*/
}

#counts ul {
  margin: 0 10px 0 0;
  position: relative;
}

#counts li {
  display: inline-block;
  color: #808080;
  padding: 10px 10px 0 10px;
  color: #CCC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

#counts li a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #fff;
}

#logo {
  margin-top: 8px;
}

.nav-container {
  width: 808px;
  margin: auto;
}

#main {
  background: #d9f0f8;
  margin: 0 -2px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*.bg-behind_bar {
  background: url(/images/bg-behind_bar.png) no-repeat scroll left top transparent;
  height: 10px;
  margin: auto;
  width: 808px;
}*/

#menu {
/*  margin-top: 5px;*/
/*  margin-left: 100px;*/
  float: left;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li:hover > ul {
  display: block;
  z-index: 99999;
  position: absolute;
}

#menu ul li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
}

#menu ul li a:hover {
/*  border-top: 1px solid #fff;*/
/*  margin-top: -1px;*/
  color: #0099FF;
}

#menu ul li.selected a {
  background: #D1EEF8;
  padding-left: 10px;
  padding-right: 10px;
  color: #404040;
  -webkit-box-shadow: inset 0 1px 2px #707070;
  -moz-box-shadow: inset 0 1px 2px #707070;
  box-shadow: inset 0 1px 2px #707070;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#menu ul li.selected a:hover {
  margin-top: 0;
  border-top: 0;
}

#menu ul li ul {
  display: none;
}

#menu ul li ul {
  width: 95px;
  border: 1px solid #ccc;
  background: url(/images/images/ui-bg_menu.png) 50% 50% repeat-x;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-bottom-left-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#menu ul li ul li a, #menu ul li.selected ul li a {
  background: none;
  color: #707070;
  font-weight: 0;
  border: 0;
  margin-top: 0;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#menu ul li ul li a:hover {
  color: #0099ff;
  border-top: 0;
  margin-top: 0;
}

#media {
  margin-top: 10px;
}

#media a {
  text-decoration: none;
}

.social-icon {
  margin-left: 20px;
  display: inline-block;
}

.link-header {
  border-bottom: 3px solid #808080;
  width: 125px;
}

.no-style {
  list-style: none;
}

#body_content, #side_body_content {
  position: relative;
  padding: 20px;
  margin-bottom: 60px;
}

#body_content_left {
  width: auto;
}

#body_content_left ul, #body_content_right ul {
  padding-left: 25px;
  list-style: square outside;
}

#body_content_left img {
  float: right;
  margin: 4px;
}

ul.footer-links a {
  text-decoration: none;
  font-size: 12px;
  color: #808080;
}

ul.footer-links a:hover {
  color: #59A5DB;
}

#donate-now {
  position: fixed;
  right: 10px;
  top: 50%;
}

a.donate-button {
  text-decoration: none;
  background: #81D0EC;
  color: #fff !important;
  padding: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* Sprite Stuff */
.sprite {
    background: url(/images/sprite.png) no-repeat;
}

.sprite-apple-touch-icon-114x114-png {
    width: 113px;
    height: 114px;
    background-position: -554px -0px;
}

.sprite-apple-touch-icon-72x72-png {
    width: 72px;
    height: 72px;
    background-position: -668px -0px;
}

.sprite-apple-touch-icon-png {
    width: 57px;
    height: 57px;
    background-position: -741px -0px;
}

.sprite-arrow-png {
    width: 25px;
    height: 17px;
    display: inline-block;
    margin-bottom: -3px;
    background-position: -668px -91px;
}

.sprite-bg-behind_bar-png {
    width: 808px;
    height: 10px;
    background-position: -0px -121px;
}

.sprite-blog_wood_icon-png {
    width: 32px;
    height: 32px;
    background-position: -66px -132px;
}

.sprite-facebook_wood_icon-png {
    width: 32px;
    height: 32px;
    background-position: -741px -58px;
}

.sprite-googleplus_wood_icon-png {
    width: 32px;
    height: 32px;
    background-position: -774px -58px;
}

.sprite-logo-png {
    width: 553px;
    height: 120px;
    background-position: -0px -0px;
    margin: auto;
}

.sprite-rss_wood_icon-png {
    width: 32px;
    height: 32px;
    background-position: -0px -132px;
}

.sprite-twitter_wood_icon-png {
    width: 32px;
    height: 32px;
    background-position: -33px -132px;
}

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 787px; margin: auto; padding: 0; margin-bottom: 60px; background: #fff; margin-top: -20px; z-index: -9999; }
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
    .container .offset-first-nav                { padding-left: 35px;  }

    /* Misc */

/* #Tablet (Landscape)
================================================== */


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        /*.container .offset-by-one                   { padding-left: 48px; }*/
        /*.container .offset-by-two                   { padding-left: 96px; }*/
        .container .offset-by-one                   { padding-left: 15px; }
        .container .offset-by-two                   { padding-left: 30px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
        .container .offset-first-nav                { padding-left: 60px;  }

        /* Misc */
        #slide-container { max-width: 100%; }
        #slideshow-controls { right: 75px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one { padding: 0; }
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
        .container .offset-first-nav { padding-left: 0; }

        /* Misc */
        body { background-image: url('../images/page-bkg2.jpg'); }
        hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 0; height: 0; }
        .topbar { height: 30px; }
        .topbar li { display: none; }
        .slideshow { display: none; }
        .mobile-nav { display: block; }
        .nav-list { margin-top: 5px; }
        ul.tabs { margin: 0; }
        ul.tabs li { width: 100px; padding: 0; text-align: center; }
        ul.tabs li a { padding: 0; border-width: 1px 1px 0 0; }
        #slideshow-controls { display: none; }
        #slide-container { display: none; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }

        /* Misc */
        .slideshow { width: 420px; }
        #slideshow-controls { right: 73px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
/*  body {
    line-height: 1;
  }*/
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Bootstrap Styles
===================================================*/

  .topbar {
    height: 37px;
/*    position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
/*    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;*/
/*    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;*/
/*    box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;*/
  }

  .topbar-inner, .topbar .fill {
/*    background-color: #00789c;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #00789c, #00A0D1);
    background-image: -ms-linear-gradient(top, #00789c, #00A0D1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00789c), color-stop(100%, #00A0D1));
    background-image: -webkit-linear-gradient(top, #00789c, #00A0D1);
    background-image: -o-linear-gradient(top, #00789c, #00A0D1);
    background-image: linear-gradient(top, #00789c, #00A0D1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);*/
/*    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*    background: #003A69;*/
  }

  .topbar .topbar-inner .topbar-container {
/*    width: 940px;*/
/*    margin-left: auto;
    margin-right: auto;*/
    zoom: 1;
  }

  .topbar h3 a, .topbar .brand {
/*    font-family: "Monotype Corsiva", cursive;*/
/*    float: left;*/
    font-size: 30px;
    display: block;
    padding: 9px 20px 0 0;
    color: #fff;
    font-weight: 200;
    line-height: 1;

  }

  .topbar a {
    color: #BFBFBF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  .topbar ul {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    left: 0;
  }

  .topbar li {
    display: block;
    float: left;
    color: #808080;
    padding: 10px 10px 0 10px;
/*    color: #BFBFBF;*/
    color: #CCC;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

  .topbar li a {
    color: #fff;
  }

/* #Basic Styles
================================================== */
  body {
/*    background-image: url('../images/page-bkg2.jpg');*/
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  #title {
    display: none;
  }

  #make-difference {
    text-align: center;
  }

  footer {
    text-align: center;
    color: rgba(128,128,128,.8);
  }

  .pastelCrayon-company-name {
    font-family: "pastelRegular", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #fff;
  }

  .pastelCrayon-first {
   font-family: "pastelRegular", Helvetica, Arial, sans-serif;
   color: #8C8CFF;
   text-decoration: underline;
  }

  .pastelCrayon-bottom.no-underline {
   font-family: "pastelRegular", Helvetica, Arial, sans-serif;
   font-size: 25px;
   color: #C98767;
   text-decoration: none;
  }

  .pastelCrayon-second {
   font-family: "pastelRegular", Helvetica, Arial, sans-serif;
   color: #FF9797;
   text-decoration: underline;
  }

  .pastelCrayon-third {
   font-family: "pastelRegular", Helvetica, Arial, sans-serif;
   color: #9aaaa4;
   text-decoration: underline;
  }

  .nav-list { margin-top: 20px; }

  @font-face {
      font-family: 'pastelRegular';
      src: url('fonts/pastel_crayon-webfont.eot');
      src: url('fonts/pastel_crayon-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/pastel_crayon-webfont.woff') format('woff'),
           url('fonts/pastel_crayon-webfont.ttf') format('truetype'),
           url('fonts/pastel_crayon-webfont.svg#pastelRegular') format('svg');
      font-weight: normal;
      font-style: normal;
  }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 10px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #cecece; border-width: 1px 0 0; clear: both; margin: 10px 0 10px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
/*  li { line-height: 18px; margin-bottom: 12px; }*/
/*  li { line-height: 18px;}*/
  ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
/*    height: auto;*/
  }

  #slide-container {
    width: 786px;
    height: 274px;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.25), 0 -1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.25), 0 -1px 2px rgba(0,0,0,0.25);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.25), 0 -1px 2px rgba(0,0,0,0.25);
  }

  .slideshow {
    margin: auto;
  }

  #slideshow-controls {
    position:absolute;
    top: 53px;
    right: 200px;
    z-index: 4;
  }

  #slideshow-controls a {
    color: #f5f5f5;
    border: 1px solid #404040;
    background: #404040;
    text-decoration: none;
    margin: 0 5px;
    padding: 2px 4px;
    }

  #slideshow-controls a.activeSlide { color: #404040; background: #f5f5f5 }
  #slideshow-controls a:focus { outline: none; }

/* #Buttons
================================================== */

  a.button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: 21px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.home:hover {
		color: #222;
    background: rgb(255,165,165); /* Old browsers */
    background: #ddd -moz-linear-gradient(top, rgba(255,165,165,1) 0%, rgba(255,72,72,1) 100%); /* FF3.6+ */
    background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,165,165,1)), color-stop(100%,rgba(255,72,72,1))); /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top, rgba(255,165,165,1) 0%,rgba(255,72,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top, rgba(255,165,165,1) 0%,rgba(255,72,72,1) 100%); /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top, rgba(255,165,165,1) 0%,rgba(255,72,72,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa5a5', endColorstr='#ff4848',GradientType=0 ); /* IE6-9 */
    background: #ddd linear-gradient(top, rgba(255,165,165,1) 0%,rgba(255,72,72,1) 100%);
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.donate:hover {
		color: #222;
    background: rgb(186,221,195); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(186,221,195,1) 0%, rgba(39,222,85,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,221,195,1)), color-stop(100%,rgba(39,222,85,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(186,221,195,1) 0%,rgba(39,222,85,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(186,221,195,1) 0%,rgba(39,222,85,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(186,221,195,1) 0%,rgba(39,222,85,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baddc3', endColorstr='#27de55',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(186,221,195,1) 0%,rgba(39,222,85,1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.about-us:hover {
		color: #222;
    background: rgb(142,180,230); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(142,180,230,1) 0%, rgba(47,116,208,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,180,230,1)), color-stop(100%,rgba(47,116,208,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(142,180,230,1) 0%,rgba(47,116,208,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(142,180,230,1) 0%,rgba(47,116,208,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(142,180,230,1) 0%,rgba(47,116,208,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8EB4E6', endColorstr='#2F74D0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(142,180,230,1) 0%,rgba(47,116,208,1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.volunteer:hover {
		color: #222;
    background: rgb(237,239,133); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,239,133,1) 0%, rgba(182,186,24,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,239,133,1)), color-stop(100%,rgba(182,186,24,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237,239,133,1) 0%,rgba(182,186,24,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237,239,133,1) 0%,rgba(182,186,24,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(237,239,133,1) 0%,rgba(182,186,24,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEF85', endColorstr='#B6BA18',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(237,239,133,1) 0%,rgba(182,186,24,1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.resources:hover {
		color: #222;
    background: rgb(255,223,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,223,223,1) 0%, rgba(255,151,151,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,223,223,1)), color-stop(100%,rgba(255,151,151,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,223,223,1) 0%,rgba(255,151,151,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,223,223,1) 0%,rgba(255,151,151,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,223,223,1) 0%,rgba(255,151,151,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDFDF', endColorstr='#FF9797',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,223,223,1) 0%,rgba(255,151,151,1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button.partnerships:hover {
		color: #222;
    background: rgb(123,202,225); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(123,202,225,1) 0%, rgba(40,151,183,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,202,225,1)), color-stop(100%,rgba(40,151,183,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(123,202,225,1) 0%,rgba(40,151,183,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(123,202,225,1) 0%,rgba(40,151,183,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(123,202,225,1) 0%,rgba(40,151,183,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2897B7', endColorstr='#7BCAE1',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(123,202,225,1) 0%,rgba(40,151,183,1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }


/* #Tabs (activate in tabs.js)
================================================== */
	ul.tabs {
		display: block;
		margin: 20px 0 20px 0;
		padding: 0;
		border-bottom: solid 1px #ddd; }
	ul.tabs li {
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
  ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0px 20px;
    line-height: 30px;
    border: solid 1px #ddd;
    margin: 0;
    background: #f5f5f5;
    font-size: 13px; }
	ul.tabs li a.active {
		background: #fff;
		height: 30px;
		position: relative;
		top: -4px;
		padding-top: 4px;
		border-left-width: 1px;
		margin: 0 0 0 -1px;
		color: #111;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom: 0; }
	ul.tabs li:first-child a.active {
		margin-left: 0; }
	ul.tabs li:first-child a {
		border-width: 1px 1px 0 1px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px; }
	ul.tabs li:last-child a {
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }

	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
  .left { float: left; }
  .right { float: right; }
  .hidden { display: none; }
  .center { text-align:center; }

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/