/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

body {
/*  background: url('../images/Texture0204.jpg');*/
  background: url('../images/gradient_larger.png') repeat-x;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

#body_content h1 {
  font-family: inherit;
  font-size: 40px;
  color: #003A69;
  border-bottom: 1px solid #404040;
/*  display: none;*/
}

#counts ul {
  margin: 0 10px 0 0;
  position: relative;
}

#counts li {
  display: inline-block;
  color: #808080;
  padding: 10px 10px 0 10px;
  color: #CCC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

#counts li a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #fff;
}

#logo {
  margin-top: 8px;
}

#main {
  margin-top: 0px;
  width: 940px;
  margin: auto;
}

#body_content, #side_body_content {
  position: relative;
  padding: 20px;
  margin-bottom: 60px;
}

#body_content_left {
  width: auto;
}

#body_content_left img {
  float: right;
  margin: 4px;
}

#menu {
/*  margin-top: 5px;*/
  margin-left: 100px;
  float: left;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li:hover > ul {
  display: block;
  z-index: 99999;
  position: absolute;
/*  margin-left: -80px;*/
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu ul li a:hover {
  border-top: 1px solid #fff;
  margin-top: -1px;
/*  background: url(/images/images/ui-bg_menu.png);*/
}

#menu ul li.selected a {
  background: #D1EEF8;

/*  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #00789c, #00A0D1);
  background-image: -ms-linear-gradient(top, #00789c, #00A0D1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00789c), color-stop(100%, #00A0D1));
  background-image: -webkit-linear-gradient(top, #00789c, #00A0D1);
  background-image: -o-linear-gradient(top, #00789c, #00A0D1);
  background-image: linear-gradient(top, #00789c, #00A0D1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
*/
  color: #404040;
  -webkit-box-shadow: inset 0 1px 2px #707070;
  -moz-box-shadow: inset 0 1px 2px #707070;
  box-shadow: inset 0 1px 2px #707070;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#menu ul li.selected a:hover {
  margin-top: 0;
  border-top: 0;
}

#menu ul li ul {
  display: none;
}

#menu ul li ul {
  width: 95px;
  border: 1px solid #ccc;
  background: url(/images/images/ui-bg_menu.png) 50% 50% repeat-x;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-bottom-left-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#menu ul li ul li a, #menu ul li.selected ul li a {
  background: none;
  color: #707070;
  font-weight: none;
  border: 0;
  margin-top: 0;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#menu ul li ul li a:hover {
  color: #0099ff;
  border-top: 0;
  margin-top: 0;
}

#media {
  margin-top: 10px;
}

#media a {
  text-decoration: none;
}

.social-icon {
  margin-left: 20px;
  width: 32px;
  height: 32px;
}

.link-header {
  border-bottom: 3px solid #808080;
  width: 125px;
}

.no-style {
  list-style: none;
}

ul.footer-links a {
  text-decoration: none;
  font-size: 12px;
  color: #808080;
}

ul.footer-links a:hover {
  color: #59A5DB;
}

#donate-now {
  position: fixed;
  right: 10px;
  bottom: 10px;
}