<nav id="bottom">
  <div class="sixteen columns">
    <section class="four columns offset-by-three">
      <h5 class="link-header">LINKS</h5>
        <ul class="no-style footer-links">
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
        </ul>
    </section>
    <section class="four columns">
      <h5 class="link-header">LINKS</h5>
        <ul class="no-style footer-links">
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
        </ul>
    </section>
    <section class="four columns">
      <h5 class="link-header">LINKS</h5>
        <ul class="no-style footer-links">
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
        </ul>
    </section>
  </div>
  <div class="clear"></div>
</nav>