<nav id="bottom">
  <div class="sixteen columns">
    <section class="three columns offset-by-two">
      <h5 class="link-header">Navigation</h5>
        <ul class="no-style footer-links">
          <li><a href="/home" class="">Home</a></li>
          <li><a href="/donate" class="">Donate</a></li>
          <li><a href="/volunteer" class="">Volunteer</a></li>
          <li><a href="/about-us" class="">About Us</a></li>
          <li><a href="/results" class="">Results</a></li>
          <li><a href="/faq" class="">FAQ</a></li>
          <li><a href="contact-us" class="">Contact Us</a></li>
        </ul>
    </section>
    <section class="three columns">
      <h5 class="link-header">About Us</h5>
        <ul class="no-style footer-links">
          <li><a href="/about-us/our-staff" class="">Our Staff</a></li>
          <li><a href="/about-us/our-board" class="">Our Board</a></li>
          <li><a href="/about-us/our-history" class="">Our History</a></li>
          <li><a href="/about-us/our-missionvision" class="">Our Mission/Vision</a></li>
          <li><a href="/about-us/our-resources" class="">Our Resources</a></li>
        </ul>
    </section>
    <section class="three columns">
      <h5 class="link-header">Results</h5>
        <ul class="no-style footer-links">
          <li><a href="/results/volunteers" class="">Volunteers</a></li>
          <li><a href="/results/data" class="">Data</a></li>
          <li><a href="/results/testimonials" class="">Testimonials</a></li>
        </ul>
    </section>
    <section class="three columns">
      <h5 class="link-header">External Links</h5>
        <ul class="no-style footer-links">
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
          <li><a href="#" class="">Some link</a></li>
          <li><a href="#" class="">Another link</a></li>
        </ul>
    </section>
  </div>
  <div class="clear"></div>
</nav>