<div id="slide-container">
  <div class="slideshow">
    <img src='images/kid_reading_refined_980.jpg' alt='kid_reading2' class="scale-with-grid" width="980" height="274" />
    <img src='images/woman-girl-reading_refined.jpg' alt='woman-girl-reading' class="scale-with-grid" width="980" height="274" style="display:none" />
  </div>
  <script type="text/javascript">
    $('.slideshow').before('<span id="slideshow-controls">').cycle({
      fx: 'fade',
      timeout: 8000
      });
  </script>
  <!-- pager: '#slideshow-controls' -->
</div>