<nav id='media'>
  <a href='http://www.facebook.com/pages/Charleston-Volunteers-for-Literacy/146433392110918'>
    <div class='sprite sprite-facebook_wood_icon-png social-icon'></div>
  </a>
  <a href='http://www.twitter.com'>
    <div class='sprite sprite-twitter_wood_icon-png social-icon'></div>
  </a>
  <a href='http://www.wordpress.com'>
    <div class='sprite sprite-blog_wood_icon-png social-icon'></div>
  </a>
  <a href='http://www.google.com'>
    <div class='sprite sprite-googleplus_wood_icon-png social-icon'></div>
  </a>
</nav>