<nav id='media'>
  <a href='http://www.facebook.com/pages/Charleston-Volunteers-for-Literacy/146433392110918'>
    <img src='../images/facebook_wood_icon.png' class='social-icon' />
  </a>
  <a href='http://www.twitter.com'>
    <img src='../images/twitter_wood_icon.png' class='social-icon' />
  </a>
  <a href='http://www.wordpress.com'>
    <img src='../images/blog_wood_icon.png' class='social-icon' />
  </a>
  <a href='http://www.google.com'>
    <img src='../images/googleplus_wood_icon.png' class='social-icon' />
  </a>
</nav>